Repository Rhymmor/tinkoff-budget: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx}": [
      "prettier --write",
      "tslint --fix",
      "git add"
    ],
    "*.{js,json,css,md}": [
      "prettier --write",
      "git add"
    ]
  }
}

use formik in confirm stage
  src/client/components/login/stages/ConfirmStage.tsx
Due: prettier --write, tslint --fix

util function for getting common submit button props
  src/client/components/login/LoginForm.tsx
  src/client/components/login/stages/ConfirmStage.tsx
  src/client/components/login/stages/SIgnUpStage.tsx
Due: prettier --write, tslint --fix

preserve `this` context in store actions
  src/client/store/instances/session.ts
Due: prettier --write, tslint --fix

util function for getting common submit button props
  src/client/lib/forms/submit.ts
Due: prettier --write, tslint --fix

remove unused import
  src/client/components/login/LoginForm.tsx
Due: prettier --write, tslint --fix

update formik and react types to fix compilation
  npm-shrinkwrap.json
  package.json
Due: prettier --write

deploy only on master
  .travis.yml
Due: none

extend gitignore, remove comment
  .gitignore
  Dockerfile
Due: none
