Repository Rhymmor/tinkoff-budget: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

remove console.log
  src/client/components/login/LoginForm.tsx
Due: prettier --write, tslint --fix

server static files on backend, modifiable host
  package.json
  src/server/main.ts
  src/server/modules/server.ts
Due: prettier --write, tslint --fix

build commands
  package.json
Due: prettier --write

add Dockerfile
  Dockerfile
Due: none

add travis config
  .travis.yml
Due: none

fix travis conf
  .travis.yml
Due: none

add shrinkwrap, remove @types/axios
  npm-shrinkwrap.json
  package.json
Due: prettier --write

add deploy docker script
  .travis.yml
  scripts/deploy_docker.sh
Due: none

fix deploy script exec cmd
  .travis.yml
Due: none

deploy to heroku
  .travis.yml
  scripts/deploy_docker.sh
Due: none

fix travis envs
  .travis.yml
Due: none

fix remote docker heroku name, add shrinkwrap to image
  .travis.yml
  Dockerfile
  scripts/deploy_docker.sh
Due: none

fix backend wildcard routing
  src/server/modules/server.ts
Due: prettier --write, tslint --fix

concat travis deploy commands
  .travis.yml
Due: none

add page loader
  src/client/components/layout/SuspenseWrapper.tsx
Due: prettier --write, tslint --fix

add request middleware
  npm-shrinkwrap.json
  package.json
  src/client/lib/api/request.ts
Due: prettier --write, tslint --fix

middleware for session id
  src/client/redux/models/session.ts
Due: prettier --write, tslint --fix

set sign-up form component
  src/client/components/login/LoginForm.tsx
  src/client/components/login/SIgnUpStage.tsx
Due: prettier --write, tslint --fix

add classnames
  npm-shrinkwrap.json
  package.json
Due: prettier --write

add flex container, extend input props
  src/client/components/inputs/StatefulInput.tsx
  src/client/components/layout/Flex.tsx
  src/client/index.scss
  src/client/style/utils.scss
Due: prettier --write, tslint --fix

add confirm request, fix middleware setting, force init session opt
  src/client/lib/api/login.ts
  src/client/lib/api/request.ts
  src/client/redux/models/session.ts
Due: prettier --write, tslint --fix

add confirm login stage
  src/client/components/login/stages/ConfirmStage.tsx
  src/client/pages/login.scss
Due: prettier --write, tslint --fix

render confrim stage after sign-up
  src/client/components/login/LoginForm.tsx
  src/client/components/login/constants.ts
  src/client/components/login/stages/SIgnUpStage.tsx
Due: prettier --write, tslint --fix

add store
  src/client/app-router.tsx
  src/client/components/login/LoginForm.tsx
  src/client/components/login/constants.ts
  src/client/lib/types/login.ts
  src/client/pages/login.tsx
  src/client/redux/models/index.ts
  src/client/redux/models/session.ts
  src/client/redux/store.ts
Due: prettier --write, tslint --fix

added dependencies
  npm-shrinkwrap.json
  package.json
Due: prettier --write

support async/await
  src/client/main.tsx
Due: prettier --write, tslint --fix

update tsconfig
  src/client/tsconfig.json
Due: prettier --write

added mobx store
  src/client/store/index.ts
  src/client/store/inject.ts
  src/client/store/session.ts
  src/client/store/types.ts
  src/client/store/utils.ts
Due: prettier --write, tslint --fix

remove redux store
  src/client/redux/models/index.ts
  src/client/redux/models/session.ts
  src/client/redux/store.ts
Due: prettier --write, tslint --fix

replace redux with mobx in components
  src/client/app-router.tsx
  src/client/components/login/LoginForm.tsx
  src/client/pages/login.tsx
Due: prettier --write, tslint --fix

separate async state store
  src/client/store/index.ts
  src/client/store/instances/async-state.ts
  src/client/store/instances/session.ts
  src/client/store/session.ts
  src/client/store/types.ts
Due: prettier --write, tslint --fix

fixed confirm disabled
  src/client/components/login/stages/ConfirmStage.tsx
Due: prettier --write, tslint --fix

simplify pending state in login form
  src/client/components/login/LoginForm.tsx
Due: prettier --write, tslint --fix

do not return undefined in router
  src/server/rest/routers/tinkoff/router.ts
Due: prettier --write, tslint --fix

simplify component logic
  src/client/components/login/LoginForm.tsx
  src/client/store/instances/session.ts
Due: prettier --write, tslint --fix

add packages
  npm-shrinkwrap.json
  package.json
Due: prettier --write

custom field with using semantic-ui
  src/client/components/inputs/field.tsx
Due: prettier --write, tslint --fix

use formik at sign-up stage
  src/client/components/login/stages/SIgnUpStage.tsx
  src/client/lib/forms/submit.ts
Due: prettier --write, tslint --fix

add initial values validation, disable autofill
  src/client/components/inputs/field.tsx
  src/client/components/login/stages/SIgnUpStage.tsx
Due: prettier --write, tslint --fix

fix can submit util
  src/client/lib/forms/submit.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,json,css,md})
  tslint --fix: any of: *.{ts,tsx}
